<?xml version="1.0"?>
<launch>

   <master auto="start"/>
 <!-- Run rviz -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find talos_navigation)/config_rviz/amcl.rviz"/>

 <!-- Run the laser-merger --> 
   <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
      <param name="destination_frame" value="base_link"/>
      <param name="cloud_destination_topic" value="merged_cloud"/>
      <param name="scan_destination_topic" value="scan_multi"/>
                <param name="laserscan_topics" value ="/scan_L /scan_R" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->

                <param name="angle_min" value="-3.1415"/>
                <param name="angle_max" value="3.1415"/>
                <param name="angle_increment" value="0.0058"/>
                <param name="scan_time" value="0.0333333"/>
                <param name="range_min" value="0.1"/>
                <param name="range_max" value="1.0"/>
	</node>

 <!-- Run the map server --> 
   <node name="map_server" pkg="map_server" type="map_server" args="$(find talos_navigation)/maps/final_map.yaml "/>

 <!--- Run AMCL --> 
    <include file="$(find talos_navigation)/examples/amcl_omni.launch" />


   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find talos_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
      <rosparam file="$(find talos_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find talos_navigation)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find talos_navigation)/config/global_costmap_params.yaml" command="load" /> 
      <!--rosparam file="$(find talos_navigation)/config/trajectory_planner.yaml" command="load" />-->

      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>      
      <rosparam file="$(find talos_navigation)/config/teb/teb_local_planner_params.yaml" command="load"/>

      <!-- LOAD COSTMAP_CONVERTER PARAMETERS HERE -->
      <rosparam file="$(find talos_navigation)/config/teb/costmap_converter_params.yaml" command="load" />

      <remap from="odom" to="/odometry/filtered"/>

      <remap from="cmd_vel" to="/gaz_controller/cmd_vel"/>
      <remap from="odom" to="odom"/>
      <remap from="scan" to="scan_multi"/>
      <!--param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="0.1"/>
      <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="0.2"/-->
      <param name="controller_frequency" value="12.0"/>
      <param name="recovery_behaviour_enabled" value="false"/>
      <param name="clearing_rotation_allowed" value="false"/>
   </node>

</launch> 
