<?xml version="1.0"?>
<launch>

   <master auto="start"/>
 <!-- Run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find talos_navigation)/config_rviz/amcl.rviz"/>

 <!-- Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(find talos_navigation)/maps/aithousa.yaml "/>

 <!--- Run AMCL --> 
    <include file="$(find talos_navigation)/examples/amcl_omni.launch" />

     <!-- Move base eband-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- global planner -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <rosparam file="$(find talos_navigation)/config/eband/global_planner_params.yaml" command="load" />

        <!-- local planner -->   
        <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS"/>      
        <rosparam file="$(find talos_navigation)/config/eband/eband_local_planner_params.yaml" command="load"/>
        
        
        <!-- params for move_base -->
        <param name="planner_frequency" value="0.5" />
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="3.0" />
        <param name="oscillation_timeout" value="5.0" />
        <param name="oscillation_distance" value="0.4" />
        <param name="clearing_rotation_allowed" value="false" />
        <remap from="cmd_vel" to="/gaz_controller/cmd_vel"/>
        <remap from="odom" to="odom"/>
        <remap from="scan" to="scan_multi"/>
        <!-- params for costmap layers --> 
        <rosparam file="$(find talos_navigation)/config/eband/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find talos_navigation)/config/eband/global_costmap_params.yaml" command="load"/>

    </node>

</launch>
