<?xml version="1.0"?>

<model>
  <name>Red White Barrier Tape</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Altzi Tsanko</name>
    <email>ace.tsan21@gmail.com</email>
  </author>


  <description>
    An Red and White Barrier Tape.
  </description>
</model>
